@font-face {
  font-family: 'AmpleSoft';
  src: url("../fonts/AmpleSoft-Light.woff2") format("woff2"), url("../fonts/AmpleSoft-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AmpleSoft';
  src: url("../fonts/AmpleSoft-Medium.woff2") format("woff2"), url("../fonts/AmpleSoft-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AmpleSoft';
  src: url("../fonts/AmpleSoft-Bold.woff2") format("woff2"), url("../fonts/AmpleSoft-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

body.not-scroll {
  overflow-y: hidden;
}

body.visible {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

* {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input[type="text"], input[type="email"], input[type="search"], textarea, select {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* Typo */
a {
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #848484;
  font-size: 16px;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'AmpleSoft', sans-serif;
  font-weight: 300;
  line-height: normal;
}

figure {
  padding: 0;
  margin: 0;
}

.col-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pad-0 {
  padding-left: 0;
  padding-right: 0;
}

.title {
  margin-bottom: 60px;
}

.title h2 {
  color: #26204b;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 15px;
}

.title p {
  font-family: 'AmpleSoft', sans-serif;
  color: #6f6f6f;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.btn-custom {
  font-family: 'AmpleSoft', sans-serif;
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-weight: 300;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.btn-custom:hover {
  color: #fff;
  opacity: 0.9;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.btn-custom.bg-linear {
  background: -webkit-gradient(linear, left top, right top, from(#6c9ba7), color-stop(#598494), color-stop(#476e81), color-stop(#36596d), to(#27445a));
  background: linear-gradient(to right, #6c9ba7, #598494, #476e81, #36596d, #27445a);
}

.btn-custom.blue {
  background: #457ab7;
}

.btn-custom.green {
  background: #13a88e;
}

.btn-custom.purple {
  background: #26204b;
}

.btn-custom.soft-green {
  background: #2eb6b7;
}

.btn-custom.dark-blue {
  background: #255892;
}

.btn-custom.darker-blue {
  background: #00355d;
}

.btn-custom.whatsapp {
  background: #13a88e;
  position: relative;
  width: 280px;
  -webkit-transition: all 0.2s ease-out 0s !important;
  transition: all 0.2s ease-out 0s !important;
  font-size: 18px;
  padding: 0;
  font-weight: 100;
}

.btn-custom.whatsapp:hover {
  opacity: 1;
}

.btn-custom.whatsapp:hover::after {
  bottom: -4px;
  -webkit-transition: all 0.2s ease-out 0s !important;
  transition: all 0.2s ease-out 0s !important;
}

.btn-custom.whatsapp::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  content: "";
  background: #0b7663;
  height: 100%;
  z-index: -1;
  border-radius: 40px;
  -webkit-transition: all 0.2s ease-out 0s !important;
  transition: all 0.2s ease-out 0s !important;
}

.btn-custom.whatsapp svg {
  width: 25px;
  height: auto;
  margin-right: 5px;
}

.btn-custom.whatsapp svg path {
  fill: #fff;
}

.wrap-wa {
  position: fixed;
  right: 50px;
  bottom: -100px;
  -webkit-transition: all 0.4s ease-out 0s !important;
  transition: all 0.4s ease-out 0s !important;
  z-index: 999;
}

.wrap-wa.visible {
  bottom: 60px;
  -webkit-transition: all 0.4s ease-out 0s !important;
  transition: all 0.4s ease-out 0s !important;
}

.wpcf7-form {
  width: 85%;
  display: table;
  margin: 60px auto;
  /*======================================
    Custom Select
    ======================================*/
  /* Items box */
}

.wpcf7-form .wpcf7-submit {
  background: #26204b;
  font-family: 'AmpleSoft', sans-serif;
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-weight: 300;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  float: right;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.wpcf7-form .wpcf7-submit:hover {
  opacity: 0.8;
}

.wpcf7-form .input-custom {
  font-family: 'AmpleSoft', sans-serif;
  height: 50px;
  line-height: 50px;
  border: 2px solid #26204b;
  border-radius: 40px;
  padding: 0 25px;
  color: #26204b;
  font-size: 18px;
  font-weight: 100;
  width: 100%;
}

.wpcf7-form .input-custom:focus {
  border: 2px solid #32465e;
  color: #26204b;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.wpcf7-form .input-custom::-webkit-input-placeholder {
  color: #26204b;
  font-size: 18px;
  font-weight: 100;
}

.wpcf7-form .input-custom:-ms-input-placeholder {
  color: #26204b;
  font-size: 18px;
  font-weight: 100;
}

.wpcf7-form .input-custom::-ms-input-placeholder {
  color: #26204b;
  font-size: 18px;
  font-weight: 100;
}

.wpcf7-form .input-custom::placeholder {
  color: #26204b;
  font-size: 18px;
  font-weight: 100;
}

.wpcf7-form textarea {
  height: auto !important;
  border-radius: 20px !important;
}

.wpcf7-form .label-custom {
  font-family: 'AmpleSoft', sans-serif;
  font-size: 18px;
  color: #26204b;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: normal;
}

.wpcf7-form .label-custom span {
  color: #6cb3b5;
}

.wpcf7-form .list-unstyled {
  margin-bottom: 0;
}

.wpcf7-form .help-block.with-errors li,
.wpcf7-form .wpcf7-not-valid-tip {
  font-family: 'AmpleSoft', sans-serif;
  color: #a10909;
  font-size: 14px;
  position: unset;
  background-color: transparent;
  font-weight: 300;
  margin-top: 5px;
  padding-left: 25px;
}

.wpcf7-form .has-error .input-custom {
  color: #a10909;
}

.wpcf7-form .has-error .input-custom::-webkit-input-placeholder {
  color: #a10909;
}

.wpcf7-form .has-error .input-custom:-ms-input-placeholder {
  color: #a10909;
}

.wpcf7-form .has-error .input-custom::-ms-input-placeholder {
  color: #a10909;
}

.wpcf7-form .has-error .input-custom::placeholder {
  color: #a10909;
}

.wpcf7-form .has-error .label-custom {
  color: #a10909;
}

.wpcf7-form .has-error .label-custom span {
  color: #a10909;
}

.wpcf7-form .has-error .form-control {
  border: 2px solid #a10909 !important;
}

.wpcf7-form.invalid .input-custom,
.wpcf7-form.invalid .selectric {
  color: #a10909 !important;
  border: 2px solid #a10909 !important;
}

.wpcf7-form.invalid .input-custom::-webkit-input-placeholder,
.wpcf7-form.invalid .selectric::-webkit-input-placeholder {
  color: #a10909;
}

.wpcf7-form.invalid .input-custom:-ms-input-placeholder,
.wpcf7-form.invalid .selectric:-ms-input-placeholder {
  color: #a10909;
}

.wpcf7-form.invalid .input-custom::-ms-input-placeholder,
.wpcf7-form.invalid .selectric::-ms-input-placeholder {
  color: #a10909;
}

.wpcf7-form.invalid .input-custom::placeholder,
.wpcf7-form.invalid .selectric::placeholder {
  color: #a10909;
}

.wpcf7-form.invalid .input-custom .label,
.wpcf7-form.invalid .selectric .label {
  color: #a10909 !important;
}

.wpcf7-form.invalid .label-custom {
  color: #a10909;
}

.wpcf7-form.invalid .label-custom span {
  color: #a10909;
}

.wpcf7-form.invalid .form-control {
  border: 2px solid #a10909 !important;
}

.wpcf7-form .wpcf7-response-output {
  margin: -41px 0.5em 1em;
  padding: 0.2em 1em;
  border: none;
  border-left: 10px solid;
  font-family: 'AmpleSoft', sans-serif;
  color: #a10909;
  font-size: 14px;
  position: unset;
  background-color: transparent;
  font-weight: 300;
}

.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
  border-left: 10px solid #398f14 !important;
  color: #398f14 !important;
}

.wpcf7-form .ajax-loader {
  background-image: url("../images/loading.gif") !important;
  width: 75% !important;
  height: 58px !important;
  padding: 0 !important;
  margin: -2px 0 0 0px !important;
  background-size: 13% !important;
  background-repeat: no-repeat !important;
  background-position: right;
  float: right;
}

.wpcf7-form .selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.wpcf7-form .selectric-responsive {
  width: 100%;
}

.wpcf7-form .selectric {
  border: 2px solid #26204b;
  border-radius: 40px;
  height: 50px;
  font-family: 'AmpleSoft', sans-serif;
  line-height: 50px;
  padding: 0 25px;
  color: #26204b;
  font-size: 18px;
  font-weight: 100;
  outline: none;
}

.wpcf7-form .selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 38px 0 0;
  height: 38px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'AmpleSoft', sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: #26204b;
}

.wpcf7-form .selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  height: 50px;
  color: #26204b;
  text-align: center;
  font: 0/0 a;
  *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

.wpcf7-form .selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #26204b;
  border-bottom: none;
}

.wpcf7-form .selectric-focus .selectric {
  border-color: #26204b;
}

.wpcf7-form .selectric-hover .selectric {
  border-color: #26204b;
}

.wpcf7-form .selectric-hover .selectric .button {
  color: #26204b;
}

.wpcf7-form .selectric-hover .selectric .button:after {
  border-top-color: #26204b;
}

.wpcf7-form .selectric-open {
  z-index: 9999;
}

.wpcf7-form .selectric-open .selectric {
  border-color: #26204b;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.wpcf7-form .selectric-open .selectric-items {
  display: block;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-left: 2px solid #26204b;
  border-top: none;
  border-right: 2px solid #26204b;
  border-bottom: 2px solid #26204b;
}

.wpcf7-form .selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wpcf7-form .selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.wpcf7-form .selectric-hide-select select {
  position: absolute;
  left: -100%;
}

.wpcf7-form .selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.wpcf7-form .selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
}

.wpcf7-form .selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.wpcf7-form .selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

.wpcf7-form .selectric-items {
  font-family: 'AmpleSoft', sans-serif;
  display: none;
  position: absolute;
  top: 97%;
  left: 0px;
  background: #fff;
  border: 2px solid #26204b;
  z-index: 1;
}

.wpcf7-form .selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}

.wpcf7-form .selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}

.wpcf7-form .selectric-items ul, .wpcf7-form .selectric-items li {
  font-family: 'AmpleSoft', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  min-height: 20px;
}

.wpcf7-form .selectric-items li {
  display: block;
  padding: 10px;
  cursor: pointer;
  font-family: 'AmpleSoft', sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #26204b;
  padding-left: 25px;
}

.wpcf7-form .selectric-items li.last {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.wpcf7-form .selectric-items li.selected {
  background: #041630;
  color: #fff;
}

.wpcf7-form .selectric-items li.highlighted {
  background: #041630;
  color: #fff;
}

.wpcf7-form .selectric-items li:hover {
  background: #041630;
  color: #fff;
}

.wpcf7-form .selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wpcf7-form .selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  color: #444;
}

.wpcf7-form .selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}

.wpcf7-form .selectric-items .selectric-group li {
  padding-left: 25px;
}

.slick-dots {
  margin-top: 0;
  text-align: center;
  position: absolute;
  bottom: 100px;
  margin-bottom: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.slick-dots.visible {
  opacity: 1;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: #fff;
}

.slick-dots li button {
  border-radius: 50%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots .slick-active {
  background-color: #4982bd;
  border-radius: 50%;
}

.slick-dots .slick-active button {
  border: none;
  background-color: #4982bd;
}

.slick-dots li button::before {
  color: transparent;
}

.menu-trigger {
  position: relative;
  z-index: 103;
  top: 0;
  right: 0;
  display: block;
  padding: 1.25rem;
  width: 40px;
  height: 40px;
  margin: 1px;
  cursor: pointer;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 0.4s ease-in-out 0s !important;
  transition: all 0.4s ease-in-out 0s !important;
  background: transparent;
}

.menu-trigger .line {
  display: block;
  background: #fff;
  width: 25px;
  height: 2px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 1px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.menu-trigger .line.line-1 {
  top: .625rem;
}

.menu-trigger .line.line-2 {
  top: 50%;
  top: calc(50% - 1px);
}

.menu-trigger .line.line-3 {
  bottom: .625rem;
}

.menu-trigger-open {
  right: 275px;
}

.menu-trigger .line-1-open {
  -webkit-transform: translate(-50%, 9px) rotate(45deg);
          transform: translate(-50%, 9px) rotate(45deg);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.menu-trigger .line-2-open {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.menu-trigger .line-3-open {
  -webkit-transform: translate(-50%, -9px) rotate(-45deg);
          transform: translate(-50%, -9px) rotate(-45deg);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.logo-header {
  display: none;
}

@media screen and (max-width: 768px) {
  .logo-header {
    display: block;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    padding: 10px 40px;
  }
  .logo-header.inner {
    width: 100%;
    background: url(../images/bg-header.png) no-repeat center;
  }
  .logo-header h1 {
    background: url(../images/logo.png) no-repeat center;
    width: 215px;
    height: 85px;
    text-indent: -9999999px;
    background-size: 100%;
    display: inline-block;
    margin: 0 20px 0 0;
  }
}

.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-top: 55px;
  top: -50px;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  opacity: 0;
}

.header.visible {
  top: 0;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  opacity: 1;
}

.header.fixed {
  position: fixed !important;
  top: -50px !important;
  background: url(../images/bg-header.png) no-repeat center;
  padding-bottom: 15px !important;
  padding-top: 65px !important;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  z-index: 10;
}

.header.header-inner {
  background: url(../images/bg-header.png) no-repeat center;
  background-size: cover;
  width: 100%;
  position: relative;
  padding-bottom: 65px;
  top: 0;
  opacity: 1;
}

.header .logo-header {
  display: block;
}

.header .logo-header h1 {
  background: url(../images/logo.png) no-repeat center;
  width: 215px;
  height: 85px;
  text-indent: -9999999px;
  background-size: 100%;
  display: inline-block;
  margin: 0 20px 0 0;
}

.header .col-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar {
  margin-bottom: 0;
  list-style: none;
}

.header .navbar ul {
  margin-bottom: 0;
  list-style: none;
}

.header .navbar ul li {
  font-family: "AmpleSoft", sans-serif !important;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin-right: 35px;
  position: relative;
  display: inline-block;
}

.header .navbar ul li:last-child {
  margin-right: 0;
}

.header .navbar ul li a {
  font-family: 'AmpleSoft', sans-serif;
  color: #fff;
}

.header .navbar ul li a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.header .navbar ul li:hover .sub-menu {
  top: 25px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header .navbar ul li.menu-item-has-children::before {
  content: url(../images/arrow-down-menu.svg);
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .navbar ul li .sub-menu {
  position: absolute;
  top: 60px;
  left: -25px;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header .navbar ul li .sub-menu li {
  width: 100%;
  margin-bottom: 5px;
  white-space: nowrap;
  min-width: 150px;
}

.header .navbar ul li .sub-menu li a {
  font-size: 15px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 25px 0 25px;
  text-align: left;
}

.header .navbar ul li .sub-menu li:last-child {
  margin-bottom: 0;
}

.header .lupa {
  cursor: pointer;
  margin-bottom: 5px;
}

.header .lupa svg {
  width: 20px;
  height: auto;
}

.header .lupa svg path {
  fill: #fff;
}

.header .area-do-cliente {
  position: absolute;
  top: -100px;
  right: 180px;
  z-index: 1;
  -webkit-transition: all 0.4s ease-out 0s !important;
  transition: all 0.4s ease-out 0s !important;
}

.header .area-do-cliente.visible {
  top: -38px;
  -webkit-transition: all 0.4s ease-out 0s !important;
  transition: all 0.4s ease-out 0s !important;
}

.header .area-do-cliente:hover::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #6cb3b5;
  left: -27px;
  top: 50%;
  -webkit-transform: translatey(-50%) rotate(180deg);
          transform: translatey(-50%) rotate(180deg);
  border-radius: 3px 0 3px 3px;
  -webkit-transition: all 0.4s ease-out 0s !important;
  transition: all 0.4s ease-out 0s !important;
}

.header .area-do-cliente::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #6cb3b5;
  left: -27px;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  border-radius: 3px 0 3px 3px;
  -webkit-transition: all 0.4s ease-out 0s !important;
  transition: all 0.4s ease-out 0s !important;
}

.header .area-do-cliente a {
  font-family: 'AmpleSoft', sans-serif;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}

.header .area-do-cliente a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.96);
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  opacity: 0;
}

.search-overlay form {
  width: 25%;
}

.search-overlay form .input-custom {
  border: none;
  border-radius: 0;
  color: #fff;
  background-color: transparent;
  border-bottom: 2px solid #fff;
}

.search-overlay form .input-custom::-webkit-input-placeholder {
  color: #fff;
}

.search-overlay form .input-custom:-ms-input-placeholder {
  color: #fff;
}

.search-overlay form .input-custom::-ms-input-placeholder {
  color: #fff;
}

.search-overlay form .input-custom::placeholder {
  color: #fff;
}

.search-overlay form .input-custom:focus {
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.search-overlay.active {
  z-index: 999;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  opacity: 1;
}

.search-overlay .close-btn {
  position: absolute;
  top: 7%;
  right: 4%;
}

.search-overlay .close-btn .menu-trigger .line-1 {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.search-overlay .close-btn .menu-trigger .line-3 {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  bottom: 28px;
}

.search-overlay .close-btn .menu-trigger.active .line-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search-overlay .close-btn .menu-trigger.active .line-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.banner-home {
  position: relative;
}

.banner-home .slide {
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 100vh;
  background-size: cover;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-home .slide .text {
  margin-top: 100px;
  width: 55%;
}

.banner-home .slide .text h2 {
  color: #fafafa;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 55px;
}

.social {
  list-style: none;
  position: absolute;
  top: 50%;
  right: -50px;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  margin-bottom: 0;
  -webkit-transition: all 0.4s ease-out 0s !important;
  transition: all 0.4s ease-out 0s !important;
}

.social.visible {
  right: 20px;
  -webkit-transition: all 0.4s ease-out 0s !important;
  transition: all 0.4s ease-out 0s !important;
}

.social li {
  margin-bottom: 20px;
  height: 40px;
}

.social li a {
  padding: 5px;
  background-color: #003d5a;
  display: table;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out 0s !important;
  transition: all 0.2s ease-out 0s !important;
  position: absolute;
  right: 0;
}

.social li a:hover {
  opacity: 0.8;
  right: 5px;
  -webkit-transition: all 0.2s ease-out 0s !important;
  transition: all 0.2s ease-out 0s !important;
}

.social li:last-child {
  margin-bottom: 0;
}

.social li svg {
  width: 35px;
  height: 35px;
  padding: 3px;
}

.social li svg path, .social li svg rect {
  fill: #fff;
}

.solucoes {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 0 285px;
}

.solucoes h2 {
  font-size: 50px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

.solucoes .slide-solucoes {
  margin-top: 145px;
}

.solucoes .slide-solucoes a:hover {
  text-decoration: none;
}

.solucoes .slide-solucoes a:hover h3 {
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  text-decoration: none;
  opacity: 0.8;
}

.solucoes .slide-solucoes h3 {
  font-size: 35px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 0;
  padding: 77px 12px 80px 12px;
  border: 8px solid #f0bb4c;
  border-radius: 40px 40px 40px 0px;
  width: 237px !important;
  height: 237px;
  line-height: normal;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.solucoes .slide-solucoes .slick-dots {
  position: relative;
  bottom: -120px;
}

.solucoes .slide-solucoes .slick-dots .slick-active button {
  background-color: #f0bb4c;
}

.video {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: auto;
}

.video .text {
  text-align: center;
}

.video .text .icon {
  cursor: pointer;
}

.video .text .icon svg {
  width: 97px;
  height: auto;
  -webkit-transform: rotate(121deg);
          transform: rotate(121deg);
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.video .text .icon svg:hover {
  -webkit-transform: rotate(121deg) scale(1.1);
          transform: rotate(121deg) scale(1.1);
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.video .text .icon svg path {
  fill: #fff;
}

.video .text h2 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 50px;
  color: #fff;
  font-weight: 100;
  line-height: normal;
}

.video .text h2 strong {
  font-weight: 300;
}

.video .text p {
  font-size: 31px;
  color: #fff;
  font-weight: 100;
  margin-bottom: 0;
}

section.blog {
  background-color: #f4f4f4;
  background-size: cover;
  padding: 100px 0 100px;
  position: relative !important;
}

section.blog #scene {
  position: absolute !important;
  height: 80% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100% !important;
}

section.blog #scene .fig-left {
  position: absolute !important;
  left: 5% !important;
  width: 14%;
}

section.blog #scene .fig-left img {
  width: 100%;
}

section.blog #scene .fig-right {
  position: absolute !important;
  display: block !important;
  left: unset !important;
  top: unset !important;
  right: 7% !important;
  bottom: 35px !important;
  width: 10%;
}

section.blog #scene .fig-right img {
  width: 100%;
}

section.blog h2 {
  font-size: 50px;
  font-weight: 300;
  color: #26204b;
  text-align: center;
  margin-bottom: 100px;
}

section.blog h3 {
  font-size: 20px;
  font-weight: 300;
  color: #26204b;
  margin-bottom: 5px;
  line-height: 25px;
}

section.blog h4 {
  font-size: 15px;
  font-weight: 300;
  color: #2eb6b7;
  margin-bottom: 25px;
}

section.blog h4 span {
  text-transform: uppercase;
}

section.blog p {
  margin-bottom: 30px;
}

section.blog .see-all {
  display: table;
  margin: 100px auto auto auto;
}

.clients {
  background-color: #fff;
  padding: 100px 0 150px;
  position: relative;
}

.clients .border-shadow {
  position: absolute;
  bottom: 0;
}

.clients h2 {
  font-size: 50px;
  font-weight: 300;
  color: #003d5a;
  text-align: center;
  margin-bottom: 100px;
}

.clients .slick-track {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients .slick-dots {
  position: relative;
  bottom: -65px;
}

.clients .slick-dots li button {
  background: #c5c5c5;
}

.clients .slick-dots .slick-active button {
  background-color: #003d5a;
}

.clients .slide img {
  width: 65%;
  display: table;
  margin: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.clients .slide a:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.testimonial {
  background-color: #fff;
  padding: 115px 0 150px;
  position: relative;
}

.testimonial .slide:hover img {
  -webkit-filter: grayscale(0) !important;
          filter: grayscale(0) !important;
  opacity: 1 !important;
  -webkit-transition: all 0.3s ease-out 0s !important !important;
  transition: all 0.3s ease-out 0s !important !important;
}

.testimonial .slide:hover h3 {
  -webkit-filter: grayscale(0) !important;
          filter: grayscale(0) !important;
  -webkit-transition: all 0.3s ease-out 0s !important !important;
  transition: all 0.3s ease-out 0s !important !important;
}

.testimonial .slide .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 160px;
  padding: 0 25px;
  margin-bottom: 10px;
}

.testimonial .slide .head img {
  width: 35% !important;
  height: auto !important;
  margin-right: 30px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.testimonial .slide .head h3 {
  font-size: 20px;
  color: #2eb6b7;
  margin-bottom: 3px;
  font-weight: 500;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.testimonial .slide .head h4 {
  font-size: 20px;
  color: #848484;
  margin-bottom: 0;
}

.testimonial .slide .body p {
  margin-bottom: 35px;
}

.testimonial .slick-dots {
  position: relative;
  bottom: -65px;
}

.testimonial .slick-dots li button {
  background: #a3d9d9;
}

.testimonial .slick-dots .slick-active button {
  background-color: #2eb6b7;
}

footer {
  background: url(../images/bg-footer.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 55px 0 0 0;
  position: relative;
}

footer::before {
  content: url(../images/wave-footer.png);
  position: absolute;
  top: -30px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
}

footer .logo-print {
  width: 151px;
  height: auto;
  margin-bottom: 40px;
}

footer p,
footer ul li,
footer ul li a {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}

footer p {
  line-height: 25px;
  width: 90%;
}

footer ul {
  list-style: none;
}

footer li {
  margin-bottom: 15px;
}

footer li:last-child {
  margin-bottom: 0;
}

footer a:hover {
  color: #fff;
  opacity: 0.8;
}

footer h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 40px;
}

footer .col-custom-footer {
  width: 20%;
  padding: 0 15px;
}

footer .logo-log {
  width: 110px;
  float: right;
}

footer .address {
  margin-top: 15px;
}

footer .address p {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  line-height: normal;
}

footer .address p strong {
  font-weight: 600;
  text-transform: uppercase;
}

footer .address .btn-custom {
  position: absolute;
  right: 0;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: normal;
  height: 40px;
}

footer .address .btn-custom::before {
  content: url(../images/arrow-up.png);
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

footer .under-foot {
  margin-top: 40px;
  padding: 25px 0;
  background-color: #255892;
}

footer .under-foot .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .under-foot p {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 2px;
  width: 100%;
  display: inline-block;
  margin-bottom: 0;
  line-height: normal;
}

footer .under-foot img {
  display: inline-block;
}

footer .under-foot .dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .under-foot .dev p {
  margin-right: 20px;
}

main.inner {
  padding: 82px 0 130px 0;
  background: url(../images/bg-inner.png) no-repeat top;
  background-size: cover;
  position: relative;
}

main.inner.fixed {
  padding-top: 280px;
}

.breadcrumb-custom {
  margin-bottom: 50px;
}

.breadcrumb-custom ul {
  list-style: none;
  margin-bottom: 0;
}

.breadcrumb-custom ul li {
  display: inline-block;
  font-size: 18px;
  color: #26204b;
  font-family: 'AmpleSoft';
  font-weight: 300;
}

.breadcrumb-custom ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #26204b;
  font-family: 'AmpleSoft';
  font-weight: 300;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-custom ul li a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.breadcrumb-custom ul li a::after {
  content: ">";
  display: inline-block;
  height: auto;
  margin: 0 10px;
}

.loop img {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 56px 56px 56px 0;
}

.loop h3 {
  font-size: 25px;
  margin-bottom: 35px;
  color: #26204b;
}

.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
  color: #26204b;
  font-size: 35px;
  margin-bottom: 40px;
}

.page-content p {
  margin-bottom: 30px;
}

.error-404 {
  background: url(../images/404.png) no-repeat center;
  width: auto;
  height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error-404 .text {
  text-align: center;
}

.error-404 .text h2 {
  color: #fff;
  font-size: 82px;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

.error-404 .text h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 60px;
  font-weight: 300;
}

.error-404 .text .btn-custom {
  padding: 0 40px;
}

.page-template-page-solucoes .loop figure {
  overflow: hidden;
}

.page-template-page-solucoes .loop img {
  width: 100%;
  margin-bottom: 0;
  border-radius: 56px 56px 56px 0;
  -webkit-transition: -webkit-transform 1.5s linear;
  transition: -webkit-transform 1.5s linear;
  transition: transform 1.5s linear;
  transition: transform 1.5s linear, -webkit-transform 1.5s linear;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transform-style: preserve-3D;
          transform-style: preserve-3D;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.page-template-page-solucoes .loop img.rotate {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.page-template-page-solucoes .loop .col-12 .row:nth-child(even) .text {
  text-align: left;
  margin-left: 78px;
  position: relative;
  left: unset !important;
  right: -100px !important;
  opacity: 0 !important;
  -webkit-transition: all 1s ease-out 0s !important;
  transition: all 1s ease-out 0s !important;
}

.page-template-page-solucoes .loop .col-12 .row:nth-child(even) .text.active {
  right: 0 !important;
  opacity: 1 !important;
  -webkit-transition: all 1s ease-out 0s !important;
  transition: all 1s ease-out 0s !important;
}

.page-template-page-solucoes .loop .col-12 .row:nth-child(even) img {
  -webkit-transform-origin: center right !important;
          transform-origin: center right !important;
  border-radius: 56px 0 56px 56px;
  -webkit-transform: scaleX(-1) !important;
          transform: scaleX(-1) !important;
}

.page-template-page-solucoes .loop .col-12 .row:nth-child(even) img.rotate {
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
}

.page-template-page-solucoes .loop .text {
  width: 86%;
  text-align: right;
  position: relative;
  left: -100px;
  opacity: 0;
  -webkit-transition: all 1s ease-out 0s !important;
  transition: all 1s ease-out 0s !important;
}

.page-template-page-solucoes .loop .text.active {
  left: 0;
  opacity: 1;
  -webkit-transition: all 1s ease-out 0s !important;
  transition: all 1s ease-out 0s !important;
}

.page-template-page-solucoes .loop h3 {
  font-size: 35px;
  margin-bottom: 20px;
}

.page-template-page-solucoes .loop p {
  font-family: 'AmpleSoft', sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 27px;
}

.page-template-page-solucoes .loop a:hover {
  text-decoration: none;
  opacity: 0.9;
}

main.single {
  padding: 0 0 130px 0 !important;
}

main.single.fixed {
  margin-top: 198px !important;
}

main.single .single-video {
  padding-top: 82px;
  padding-bottom: 70px;
  background-color: #f4f4f4;
}

main.single .single-video figure {
  position: relative;
  width: 100%;
  height: auto;
  display: table;
}

main.single .single-video figure.play::after {
  content: url(../images/icon-play.png);
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

main.single .single-video figure img {
  width: 100%;
  border-radius: 36px;
}

main.single .vid-wrapper {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #000;
  border-radius: 20px;
}

main.single .vid-wrapper iframe {
  width: 100%;
  height: 478px;
}

main.single .single-content {
  padding: 60px 0;
}

main.single .single-content h1, main.single .single-content h2, main.single .single-content h3, main.single .single-content h4, main.single .single-content h5, main.single .single-content h6 {
  font-size: 30px;
  color: #26204b;
  margin-bottom: 30px;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.single .single-content .comunicacao-title::before {
  content: url(../images/icon_comunicacao.png);
  display: inline-block;
  margin-right: 40px;
}

main.single .single-content .impressos-title::before {
  content: url(../images/icon_impressos.png);
  display: inline-block;
  margin-right: 40px;
}

main.single .single-content .inteligencia-title::before {
  content: url(../images/icon_inteligencia.png);
  display: inline-block;
  margin-right: 40px;
}

main.single .single-content .tecnologia-title::before {
  content: url(../images/icon_tecnologia.png);
  display: inline-block;
  margin-right: 40px;
}

main.single .single-content .editorial-title::before {
  content: url(../images/icon_editorial.png);
  display: inline-block;
  margin-right: 40px;
}

main.single .single-content .impressao-title::before {
  content: url(../images/icon_impressao.png);
  display: inline-block;
  margin-right: 40px;
}

main.single .single-content .grafico-title::before {
  content: url(../images/icon_grafico.png);
  display: inline-block;
  margin-right: 40px;
}

main.single .single-content .demanda-title::before {
  content: url(../images/icon_demanda.png);
  display: inline-block;
  margin-right: 40px;
}

main.single .single-content p, main.single .single-content li {
  font-family: 'AmpleSoft', sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: #a4a4a4;
  margin-bottom: 30px;
  line-height: 25px;
}

main.single .single-content p strong, main.single .single-content li strong {
  font-weight: 100;
  color: #26204b;
}

main.single .single-content ul {
  list-style: none;
  margin-bottom: 50px;
}

main.single .single-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 25px;
  border-radius: 10px;
  background: #f8f8f8;
  line-height: normal;
  margin-bottom: 10px;
}

main.single .single-content ul li::before {
  content: url(../images/check.png);
  display: inline-block;
  margin-right: 25px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

main.single .single-content ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 50px;
}

main.single .single-content ol li {
  color: #26204b;
  padding: unset;
  margin-bottom: 5px;
}

.know-more {
  background-color: #f2f2f2;
  padding: 35px 40px;
  border-radius: 10px;
  margin: 50px 0 60px 0;
}

.know-more svg {
  width: 58px;
  height: 58px;
}

.know-more svg path {
  fill: #13a88e;
}

.know-more h5 {
  font-size: 30px !important;
  color: #13a88e !important;
  margin-bottom: 5px !important;
}

.know-more p {
  margin-bottom: 0 !important;
  line-height: normal !important;
}

.know-more .btn-custom {
  padding: 0 25px;
  width: auto;
  float: right;
  font-size: 20px;
  font-weight: 300;
}

.know-more .btn-custom:hover {
  opacity: 0.9;
}

.know-more .btn-custom::after {
  display: none;
}

.related h3 {
  font-size: 35px;
  color: #26204b;
  margin-bottom: 50px;
}

.related h4 {
  font-size: 20px;
  color: #26204b;
  margin-bottom: 30px;
}

.related p {
  font-size: 15px;
  margin-bottom: 25px;
  height: 75px;
}

.clientes figure {
  border: 5px solid #d1d1d1;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 56px 56px 56px 0;
  cursor: pointer;
  margin-bottom: 50px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.clientes figure:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.clientes img {
  width: 60%;
}

.posts figure {
  position: relative;
  margin-bottom: 30px;
}

.posts figure::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 38px;
}

.posts img {
  width: 100%;
  border-radius: 35px;
}

.posts h3 {
  font-size: 19px;
  color: #26204b;
  margin-bottom: 5px;
}

.posts p {
  font-size: 15px;
  color: #848484;
  margin-bottom: 20px;
}

.posts p strong {
  font-family: 'AmpleSoft', sans-serif;
  font-weight: 300;
  color: #6cb3b5;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

.posts p strong span {
  text-transform: none;
}

.posts .btn-custom {
  margin-bottom: 50px;
}

.paginacao,
.pagination {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  border-top: 1px solid #e4e4e4;
}

.paginacao .page-numbers,
.pagination .page-numbers {
  font-family: 'AmpleSoft', sans-serif;
  color: #26204b;
  font-size: 20px;
  font-weight: 300;
  padding: 8px 13px 6px 13px;
  line-height: normal;
}

.paginacao .page-numbers.current,
.pagination .page-numbers.current {
  background-color: #64abb7;
  color: #fff;
  border-radius: 50%;
}

.paginacao .page-numbers.next, .paginacao .page-numbers.prev,
.pagination .page-numbers.next,
.pagination .page-numbers.prev {
  background-color: #64abb7;
  color: #fff;
  border-radius: 30px;
  font-size: 17px;
  padding: 13px 25px 13px 25px;
}

.paginacao .screen-reader-text,
.pagination .screen-reader-text {
  display: none;
}

.paginacao .nav-links,
.pagination .nav-links {
  width: 100%;
}

.sidebar h4 {
  font-size: 22px;
  color: #26204b;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 25px;
}

.sidebar p {
  margin-bottom: 50px;
}

.sidebar ul {
  list-style: none;
  margin-bottom: 50px;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li:last-child {
  margin-bottom: 0;
}

.sidebar ul.categories {
  list-style-type: disc;
  list-style-position: inside;
}

.sidebar ul.popular-posts li::before {
  content: url(../images/arrow-right-list.png);
  display: inline-block;
  margin-right: 15px;
}

.sidebar ul.post-tags li {
  display: inline-block;
}

.sidebar ul.post-tags li a {
  font-size: 13px;
  color: #fff;
  font-family: 'AmpleSoft', sans-serif;
  font-weight: 300;
  background-color: #6cb3b5;
  display: inline-block;
  padding: 8px 25px;
  border-radius: 30px;
}

.sidebar ul.post-tags li a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.sidebar li, .sidebar a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #848484;
  font-size: 16px;
  line-height: normal;
}

.searchform {
  position: relative;
  margin-bottom: 50px;
}

.searchform .search {
  font-family: 'AmpleSoft', sans-serif;
  font-weight: 100;
  height: 50px;
  background-color: #fff;
  border-radius: 20px;
  line-height: 50px;
  color: #2a3447;
  font-size: 15px;
  border: none;
  padding: 0 15px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2) !important;
  width: 100%;
}

.searchform .search::-webkit-input-placeholder {
  font-family: 'AmpleSoft', sans-serif;
  font-weight: 100;
  height: 50px;
  color: #2a3447;
  font-size: 15px;
}

.searchform .search:-ms-input-placeholder {
  font-family: 'AmpleSoft', sans-serif;
  font-weight: 100;
  height: 50px;
  color: #2a3447;
  font-size: 15px;
}

.searchform .search::-ms-input-placeholder {
  font-family: 'AmpleSoft', sans-serif;
  font-weight: 100;
  height: 50px;
  color: #2a3447;
  font-size: 15px;
}

.searchform .search::placeholder {
  font-family: 'AmpleSoft', sans-serif;
  font-weight: 100;
  height: 50px;
  color: #2a3447;
  font-size: 15px;
}

.searchform .btn-custom {
  position: absolute;
  top: 50%;
  right: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #6cb3b5;
  border-radius: 18px;
  font-size: 17px;
  height: 44px;
  line-height: 44px;
}

.single-blog figure {
  position: relative;
  border-radius: 35px;
  margin-bottom: 50px;
}

.single-blog figure::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 38px;
}

.single-blog img {
  width: 100%;
  border-radius: 35px;
}

.single-blog h2 {
  color: #26204b;
  font-size: 30px;
  margin-bottom: 30px;
  width: 70%;
}

.single-blog p {
  font-size: 15px;
  color: #848484;
  margin-bottom: 20px;
  display: inline-block;
}

.single-blog p strong {
  font-family: 'AmpleSoft', sans-serif;
  font-weight: 300;
  color: #6cb3b5;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.single-blog p strong span {
  text-transform: none;
}

.single-blog p.category {
  color: #848484;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-left: 20px;
}

.single-blog .post-content p {
  font-size: 18px;
  color: #848484;
  margin-bottom: 20px;
  display: inline-block;
  line-height: 30px;
  text-align: justify;
}

.single-blog .button-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 0 0;
  border-top: 1px solid #dbdbdb;
  margin-top: 20px;
}

.post-tags {
  margin-bottom: 0;
}

.post-tags li {
  display: inline-block;
}

.post-tags li a {
  font-size: 13px;
  color: #fff;
  font-family: 'AmpleSoft', sans-serif;
  font-weight: 300;
  background-color: #6cb3b5;
  display: inline-block;
  padding: 8px 25px;
  border-radius: 30px;
}

.post-tags li a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.addthis_tool {
  margin: 10px 0 30px 0;
}

.addthis_tool .at-style-responsive .at-share-btn {
  padding: 0px 25px !important;
  border-radius: 30px !important;
  min-width: 135px !important;
}

.addthis_tool .at-resp-share-element .at-icon, .addthis_tool .at-resp-share-element .at-label {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.chamada {
  width: 65%;
}

.page-template-page-contato main.inner {
  padding: 82px 0 0 0;
}

.page-template-page-contato main.inner.fixed {
  padding-top: 280px;
}

.page-template-page-contato .form {
  padding: 70px 0 100px 0;
}

.page-template-page-contato .form h3 {
  font-size: 35px;
  color: #151436;
  text-align: center;
  margin-bottom: 0;
}

.page-template-page-contato .form .form-custom {
  width: 80%;
  display: table;
  margin: 60px auto auto auto;
}

.page-template-page-contato .form .form-custom .btn-custom {
  float: right;
  margin-top: 20px;
}

.page-template-page-contato .location {
  background-image: url(../images/bg-location.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 70px 0 60px;
}

.page-template-page-contato .location .addresses h4 {
  font-size: 20px;
  color: #26204b;
}

.page-template-page-contato .location .addresses p {
  font-size: 14px;
  color: #000;
  margin-bottom: 0;
}

.page-template-page-contato .map {
  position: relative;
}

.page-template-page-contato .map .pin {
  position: absolute;
  z-index: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  cursor: pointer;
  display: block;
}

@-webkit-keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.page-template-page-contato .map .pin:hover {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -moz-animation-name: bounce;
}

.page-template-page-contato .map .pin.vinhedo {
  top: 20px;
  left: 734px;
}

.page-template-page-contato .map .pin.barueri {
  top: 209px;
  left: 777px;
}

.search-results .title {
  margin-bottom: 0;
}

.search-results .content p {
  font-size: 22px;
}

.search-results .content p strong {
  font-weight: 300;
  text-decoration: underline;
}

.search-results .content p .search-terms {
  text-decoration: none;
  color: #64abb7;
  margin-left: 5px;
}

.search-results .searchform {
  margin-top: 20px;
}

.search-results .results img {
  border-radius: 35px;
  width: 100%;
  height: auto;
}

.search-results .results h3 {
  color: #26204b;
  font-size: 20px;
  display: inline-block;
}

.search-results .results p {
  font-size: 14px;
  color: #6cb3b5;
  display: inline-block;
  font-family: 'AmpleSoft', sans-serif;
  font-weight: 300;
}

.search-results .results p.excerpt {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #848484;
  display: block;
  margin-bottom: 40px;
}

.search-results .results p strong {
  text-decoration: none;
  text-transform: uppercase;
}

.search-results .results p strong span {
  text-transform: none;
}

.search-results .results .result-item {
  margin-bottom: 50px;
}

.page-template-page-sobre-nos h2 {
  font-size: 40px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 50px;
  text-align: center;
}

.about-us {
  padding: 240px 0 295px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us h2 {
  text-align: left;
}

.about-us h3 {
  color: #6eb3b4;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 50px;
}

.about-us p {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}

.about-us h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  color: #6eb3b4;
  font-weight: 600;
  margin-bottom: 0;
}

.about-us .text {
  width: 70%;
  display: table;
  margin: auto 0 auto auto;
}

.our-numbers {
  padding: 150px 0 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.our-numbers h2 span {
  display: block;
  font-weight: 100;
}

.our-numbers p {
  font-size: 16px;
  text-align: center;
  color: #fff;
  display: table;
  margin: auto;
  width: 70%;
}

.our-numbers .row-block {
  margin-top: 100px;
}

.our-numbers .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-numbers .blocks .block {
  width: 210px;
  height: 215px;
  border: 3px solid #fff;
  border-radius: 60px 60px 60px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.our-numbers .blocks .wrap {
  text-align: center;
}

.our-numbers .blocks .wrap img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-bottom: 10px;
}

.our-numbers .blocks .wrap h3 {
  font-size: 23px;
  color: #fff;
  margin-bottom: 5px;
}

.our-numbers .blocks .wrap p {
  font-size: 16px;
  font-weight: 100;
  width: 100%;
}

.timeline {
  padding: 150px 0 150px 0;
  background-color: #0d1b36;
}

.timeline .spine .col-custom:nth-child(even) .block .text {
  text-align: left;
}

.timeline .spine .col-custom:nth-child(even) .block::before {
  content: url(../images/spine-timeline-right.png);
  display: inline-block;
  margin-right: 35px;
}

.timeline .spine .col-custom:nth-child(odd) .block .text {
  text-align: right;
}

.timeline .spine .col-custom:nth-child(odd) .block .text h5 {
  color: #6eb3b4;
}

.timeline .spine .col-custom:nth-child(odd) .block .year {
  color: #6eb3b4;
  position: absolute;
  left: unset;
  right: 91px;
  top: 53px;
}

.timeline .spine .col-custom:nth-child(odd) .block::after {
  content: url(../images/spine-timeline-left.png);
  display: inline-block;
  margin-left: 35px;
}

.timeline .spine .col-custom:nth-child(2) .block::before {
  content: url(../images/spine-timeline-right-first.png) !important;
}

.timeline .spine .col-custom:nth-last-child(2) .block::after {
  content: url(../images/spine-timeline-left-last.png) !important;
}

.timeline .spine .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline .spine .block h5 {
  font-size: 16px;
  color: #4679b1;
  margin-bottom: 10px;
}

.timeline .spine .block p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
}

.timeline .spine .block .year {
  font-family: 'AmpleSoft', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #4679b1;
  position: absolute;
  left: 93px;
  top: 53px;
  text-align: center;
  width: 75px;
}

.timeline .pad-r-0 {
  margin-left: -34px;
}

.timeline .pad-l-0 {
  margin-right: -15px;
}

.certification {
  padding: 150px 0 110px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.certification h2 {
  color: #848484;
}

.certification .slide-certification {
  margin-top: 70px;
}

.certification .slide-certification .slide {
  padding: 0 20px;
}

.certification .slide-certification .slide .slick-dots {
  position: relative;
  bottom: -30px;
}

.certification .slide-certification .slide figure {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certification .slide-certification .slide img {
  display: table;
  margin: auto auto 50px auto;
  width: unset;
}

.certification .slide-certification .slide h4 {
  font-size: 20px;
  color: #848484;
  margin-bottom: 20px;
}

.certification .slide-certification .slide h4 small {
  font-size: 13px;
  display: block;
  line-height: 16px;
  margin-top: 5px;
}

.certification .slide-certification .slide p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #848484;
}

.premiacao {
  padding: 150px 0 150px 0;
  background-color: #27224f;
}

.premiacao .inner-block {
  background-color: #403a71;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.premiacao .inner-block .text {
  padding: 30px 0 40px;
  text-align: center;
}

.premiacao .inner-block h3 {
  font-size: 70px;
  color: #fff;
  margin-bottom: 0;
}

.premiacao .inner-block p {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 0;
}

.premiacao .slide {
  padding: 0 25px;
}

.premiacao .slide figure {
  padding: 0;
  margin: 0;
  background: #fff;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px 0 50px 50px;
  margin-bottom: 30px;
}

.premiacao .slide h4 {
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.premiacao .slide h4::before {
  content: url(../images/medal.png);
  display: inline-block;
  margin-right: 15px;
}

.premiacao .slide p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 300;
}

.line-dots {
  background: url(../images/dots.png) repeat-x center;
  width: 100%;
  height: 8px;
  margin-top: 50px;
  margin-bottom: 70px;
  border: 0;
  border-top: none;
}

#modalOpening .modal-dialog {
  max-width: 735px;
}

#modalOpening .modal-content {
  background: url(../images/bg-modal.png) no-repeat center #fff;
  background-size: contain;
  padding: 20px 30px;
  border-radius: 20px;
  border: none;
}

#modalOpening .modal-content .modal-header {
  border-bottom: none;
  margin-bottom: 25px;
}

#modalOpening .modal-content .modal-header img {
  display: table;
  margin: auto;
}

#modalOpening .modal-content .modal-body {
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 20px;
}

#modalOpening .modal-content .modal-body h2 {
  font-size: 30px;
  color: #00355d;
  margin-bottom: 25px;
}

#modalOpening .modal-content .modal-body h2::after {
  width: 60px;
  height: 7px;
  border-radius: 3px;
  background-color: #00355d;
  content: "";
  display: block;
  margin-top: 15px;
}

#modalOpening .modal-content .modal-body p {
  font-family: 'AmpleSoft', sans-serif;
  font-size: 19px;
  color: #686868;
  font-weight: 100;
  line-height: 25px;
}

#modalOpening .modal-content .modal-body p span {
  color: #00355d;
}

#modalOpening .modal-content .modal-body p strong {
  color: #00355d;
  font-weight: 300;
}

#modalOpening .modal-content .modal-footer {
  border-top: none;
}

#modalOpening .modal-content .modal-footer .btn-custom {
  width: 210px;
  display: table;
  margin: auto;
}

.modal-video .modal-dialog {
  max-width: 768px;
}

.modal-video .modal-content {
  position: relative;
  padding-bottom: 52.25%;
  padding-top: 25px;
  height: 0;
  background: #000;
}

.modal-video .modal-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.btn-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .slide-solucoes h3 {
    margin-left: 37px;
  }
  .header {
    position: fixed !important;
    height: 100% !important;
    width: 100% !important;
    right: 0 !important;
    background: rgba(0, 0, 0, 0.9) !important;
    z-index: 99999999 !important;
    padding-top: 0 !important;
    top: 0 !important;
    overflow-y: hidden !important;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
  .header.menu-open {
    visibility: visible !important;
    opacity: 1 !important;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .header .container {
    background-color: #0d1b36;
    position: fixed;
    width: 300px;
    height: 100%;
    right: -300px;
    padding: 55px 0 0 25px;
    max-width: unset;
    -webkit-transition: all 0.5s ease-in-out 0s !important;
    transition: all 0.5s ease-in-out 0s !important;
  }
  .header .container.active {
    right: 0;
    -webkit-transition: all 0.5s ease-in-out 0s !important;
    transition: all 0.5s ease-in-out 0s !important;
  }
  .header .col-custom {
    display: block;
  }
  .header .navbar {
    margin-top: 30px;
  }
  .header .navbar ul li {
    display: block;
    height: 45px;
  }
  .header .navbar ul li.menu-item-has-children::before {
    -webkit-transform: translateY(-95%);
            transform: translateY(-95%);
  }
  .header .navbar ul li .sub-menu {
    z-index: 999999;
  }
  .header .area-do-cliente {
    right: unset;
    left: 40px;
  }
  .header .logo-header {
    display: none;
  }
  .header .logprint-logo {
    margin-top: 35px;
  }
  .header .lupa {
    position: absolute;
    top: -40px;
    right: 25px;
  }
  .header.header-inner {
    padding-bottom: 0;
  }
  .search-overlay.active {
    z-index: 99999999999999;
  }
  .search-overlay form {
    width: 50%;
  }
  .btn-menu {
    position: fixed;
    right: 20px;
    z-index: 999999999;
    background-color: #397fbd;
    border-radius: 5px 0 5px 5px;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    top: 20px;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .btn-menu.active {
    right: 320px;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .btn-menu .menu-trigger.active .line.line-1 {
    top: 18px;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .btn-menu .menu-trigger.active .line.line-3 {
    bottom: 20px;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .btn-menu .menu-trigger .line {
    width: 20px;
  }
  .btn-menu .menu-trigger .line.line-1 {
    top: 15px;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .btn-menu .menu-trigger .line.line-3 {
    bottom: 15px;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .banner-home .slide .text {
    width: 80%;
  }
  .solucoes .slide-solucoes .slick-dots {
    opacity: 1;
  }
  .blog .col-12 {
    margin-bottom: 50px;
  }
  footer .address .btn-custom {
    bottom: 60px;
  }
  main.inner {
    padding: 125px 0 130px 0;
  }
  .page-template-page-solucoes .loop img {
    height: auto;
  }
  .page-template-page-solucoes .loop h3 {
    font-size: 25px;
  }
  .page-template-page-solucoes .loop p {
    font-size: 15px;
    line-height: 19px;
  }
  .sidebar {
    margin-top: 75px;
  }
  .chamada {
    width: 100%;
  }
  .know-more h5 {
    font-size: 22px !important;
  }
  .know-more p {
    font-size: 13px;
  }
  .map img {
    margin-left: -45%;
  }
  .page-template-page-contato .map .pin.vinhedo {
    left: 407px;
  }
  .page-template-page-contato .map .pin.barueri {
    left: 448px;
  }
  .single-blog img {
    height: auto;
  }
  .addthis_tool .at-style-responsive .at-share-btn {
    min-width: unset !important;
  }
  .related .col-12 {
    margin-bottom: 50px;
  }
  main.single .vid-wrapper iframe {
    height: 290px;
  }
  footer .logo-print {
    width: 123px;
  }
  footer h4 {
    height: 55px;
  }
  .page-template-page-area-do-cliente .loop {
    width: 75%;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  .page-template-page-area-do-cliente .loop .col-12 {
    margin-bottom: 50px;
  }
  .about-us .text {
    width: 100%;
  }
  .slide-certification .slick-dots {
    position: relative;
    bottom: 0;
  }
  .certification .slide-certification .slide h4 {
    text-align: center;
  }
  .certification .slide-certification .slide p {
    text-align: center;
  }
  .premiacao .inner-block {
    margin-bottom: 20px;
  }
  .premiacao .slide figure {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .our-numbers .blocks {
    margin-bottom: 50px;
  }
  .our-numbers .blocks .slick-dots {
    bottom: -20px;
  }
  .our-numbers .blocks .block {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 210px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .our-numbers .blocks .wrap img {
    display: table;
    margin: auto;
  }
  .timeline .spine .col-custom:nth-child(odd) .block::after {
    display: none;
  }
  .timeline .spine .col-custom:nth-child(odd) .block::before {
    content: url(../images/spine-timeline-left.png);
    display: inline-block;
    margin-left: -33px;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    margin-right: 35px;
  }
  .timeline .spine .col-custom:nth-last-child(2) .block::before {
    content: url(../images/spine-timeline-left-last.png) !important;
  }
  .timeline .spine .col-custom:nth-child(odd) .block .text {
    text-align: left;
  }
  .timeline .spine .col-custom:nth-child(odd) .block .year {
    left: 60px;
    right: unset;
  }
  .timeline .spine {
    display: table;
    margin: auto;
    width: 81%;
  }
  .wpcf7-form .wpcf7-submit {
    display: table;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .header .navbar ul li a:hover {
    text-decoration: none;
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .logo-header {
    padding: 0px 18px;
  }
  .logo-header h1 {
    width: 127px;
    margin: 0 0 0 0;
  }
  .header .container {
    width: 260px;
  }
  .btn-menu.active {
    right: 280px;
  }
  .search-overlay form {
    width: 80%;
  }
  .banner-home .slide .text h2 {
    font-size: 22px;
  }
  .wrap-wa {
    position: fixed;
    right: 0;
    bottom: -100px;
    width: 100%;
  }
  .wrap-wa.visible {
    bottom: 0;
  }
  .wrap-wa .btn-custom.whatsapp {
    width: 100%;
    border-radius: 0;
  }
  .video .text h2 {
    margin-bottom: 5px;
    font-size: 32px;
  }
  .video .text p {
    font-size: 17px;
  }
  footer .col-custom-footer {
    width: 100%;
  }
  footer .logo-log {
    float: none;
    margin-top: 20px;
  }
  footer .address {
    margin-top: 40px;
    margin-bottom: 70px;
  }
  footer .address .btn-custom {
    bottom: -53px;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 43%;
  }
  footer .rights {
    width: 100%;
  }
  footer .under-foot {
    padding: 25px 0 70px 0;
  }
  footer .under-foot .rights p {
    font-size: 9px;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  footer .under-foot .dev {
    width: 100%;
    margin-top: 10px;
  }
  footer .under-foot .dev p {
    margin-right: 20px;
    width: auto;
  }
  .page-template-page-solucoes .loop .pr-0 {
    padding-right: 15px !important;
  }
  .page-template-page-solucoes .loop .pl-0 {
    padding-left: 15px !important;
  }
  .page-template-page-solucoes .loop img {
    margin-bottom: 15px;
  }
  .page-template-page-solucoes .loop .col-12 .row:nth-child(even) .text {
    text-align: right;
    margin-left: 0;
  }
  main.single {
    padding: 45px 0 130px 0 !important;
  }
  main.single .vid-wrapper iframe {
    height: 140px;
  }
  .single-blog h2 {
    font-size: 25px;
    width: 85%;
  }
  .single-blog p {
    display: block;
  }
  .single-blog p strong {
    font-size: 16px;
  }
  .single-blog p.category {
    font-size: 16px;
    margin-left: 0;
  }
  .single-blog .button-line {
    display: block;
  }
  .post-tags {
    margin-top: 50px;
  }
  .page-template-page-contato main.inner {
    padding: 125px 0 0 0;
  }
  .page-template-page-contato .addresses .col-12 {
    margin-bottom: 30px;
  }
  .map img {
    margin-left: -170%;
  }
  .page-template-page-contato .map .pin.vinhedo {
    left: 182px;
  }
  .page-template-page-contato .map .pin.barueri {
    left: 228px;
  }
  .page-template-page-area-do-cliente .loop {
    width: 100%;
  }
  .search-results .content p {
    font-size: 17px;
  }
  .search-results .results img {
    margin-bottom: 20px;
  }
  .premiacao .slide figure {
    width: 100%;
  }
  .timeline .spine .block {
    display: block;
  }
  .timeline .pad-r-0 {
    margin-left: 0px;
  }
  .timeline .spine .col-custom:nth-child(odd) .block::before {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .timeline .spine .col-custom:nth-child(even) .block::before {
    margin-bottom: 15px;
  }
  .timeline .spine .col-custom:nth-child(even) .block .text {
    text-align: left;
    margin-bottom: 15px;
  }
  .timeline .spine .col-custom:nth-child(odd) .block .text {
    text-align: left;
    margin-bottom: 15px;
  }
  .timeline .spine .col-custom:nth-child(odd) .block .year {
    left: 93px;
  }
  .know-more svg {
    display: table;
    margin: auto auto 20px auto;
  }
  .know-more h5,
  .know-more p {
    text-align: center;
  }
  .know-more .btn-custom {
    float: none;
    display: table;
    margin: 20px auto auto auto;
  }
}
/*# sourceMappingURL=style.css.map */