@font-face {
  font-family: 'Sunset Boulevard Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Sunset Boulevard Regular"), url("../fonts/Sunset-Boulevard.woff") format("woff");
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  background-color: #fff;
  position: relative;
}

body.not-scroll {
  overflow-y: hidden;
}

body.visible {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

* {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input[type="text"], input[type="email"], input[type="search"], textarea, select {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* Typo */
a {
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #848484;
  font-size: 1rem;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: normal;
}

figure {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

.col-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pad-0 {
  padding-left: 0;
  padding-right: 0;
}

.container-rel {
  position: relative;
}

.btn-custom {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 35px;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  font-weight: 300;
  font-size: 15px;
  line-height: 97.2%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.btn-custom:hover {
  color: #fff;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.btn-custom.blue {
  background: #1C0E3A;
}

.logo-header {
  display: none;
}

.btn-menu {
  position: fixed;
  right: 25px;
  top: 30px;
  z-index: 999999999;
  border-radius: 5px 0 5px 5px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out 0s !important;
  transition: all 0.5s ease-in-out 0s !important;
}

.btn-menu.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.4s ease-out 0s !important;
  transition: all 0.4s ease-out 0s !important;
}

.btn-menu.active {
  right: 180px;
  -webkit-transition: all 0.5s ease-in-out 0s !important;
  transition: all 0.5s ease-in-out 0s !important;
}

.btn-menu .menu-trigger {
  position: relative;
  z-index: 103;
  top: 0;
  right: 0;
  display: block;
  padding: 1.25rem;
  width: 40px;
  height: 40px;
  margin: 1px;
  cursor: pointer;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 0.4s ease-in-out 0s !important;
  transition: all 0.4s ease-in-out 0s !important;
  background: transparent;
}

.btn-menu .menu-trigger.active .line {
  background: #FF5656;
}

.btn-menu .menu-trigger.active .line-1 {
  -webkit-transform: translate(-50%, 9px) rotate(45deg);
          transform: translate(-50%, 9px) rotate(45deg);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.btn-menu .menu-trigger.active .line-2 {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.btn-menu .menu-trigger.active .line-3 {
  -webkit-transform: translate(-50%, -9px) rotate(-45deg);
          transform: translate(-50%, -9px) rotate(-45deg);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.btn-menu .menu-trigger .line {
  display: block;
  background: #FF5656;
  width: 25px;
  height: 2px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 1px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.btn-menu .menu-trigger .line.line-1 {
  top: .625rem;
}

.btn-menu .menu-trigger .line.line-2 {
  top: 50%;
  top: calc(50% - 1px);
}

.btn-menu .menu-trigger .line.line-3 {
  bottom: .625rem;
}

.banner-home {
  visibility: hidden;
}

.slick-initialized {
  visibility: visible;
}

.slick-arrow {
  opacity: 0;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.slick-arrow.active {
  opacity: 1;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.slick-prev,
.prev {
  border: none;
  background: url(../images/arrow-left.png) no-repeat center;
  text-indent: -99999px;
  z-index: 999;
  position: absolute;
  width: 17px;
  height: 30px;
  background-size: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translatey(50%);
          transform: translatey(50%);
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  cursor: pointer;
}

.slick-prev:focus,
.prev:focus {
  outline: none;
}

.slick-next,
.next {
  border: none;
  background: url(../images/arrow-right.png) no-repeat center;
  background-size: cover;
  text-indent: -99999px;
  z-index: 999;
  position: absolute;
  width: 17px;
  height: 30px;
  background-size: 100%;
  right: 0;
  top: 50%;
  -webkit-transform: translatey(50%);
          transform: translatey(50%);
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  cursor: pointer;
}

.slick-next:focus,
.next:focus {
  outline: none;
}

.slick-dots {
  margin-top: 0;
  text-align: center;
  position: absolute;
  bottom: 100px;
  margin-bottom: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.slick-dots.active {
  opacity: 1;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 18px;
  height: 18px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 3px solid #fff;
  outline: none;
  background: transparent;
}

.slick-dots li button {
  border-radius: 50%;
  position: relative;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots .slick-active button::after {
  content: "";
  border-radius: 50%;
  background: #fff;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li button::before {
  color: transparent;
}

.clear {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  width: 100%;
  overflow: hidden;
}

header {
  position: absolute;
  width: 100%;
  padding-top: 70px;
  top: -300px;
  -webkit-transition: all 0.5s ease-out 0s !important;
  transition: all 0.5s ease-out 0s !important;
  z-index: 999;
}

header.active {
  top: 0;
  -webkit-transition: all 0.5s ease-out 0s !important;
  transition: all 0.5s ease-out 0s !important;
}

header.fixed {
  position: fixed;
  background: rgba(24, 14, 58, 0.9);
  z-index: 9999999;
  padding-top: 0;
  padding-bottom: 10px;
}

header.fixed h1 {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
}

header.fixed .navbar {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .col-flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header h1 {
  background: url(../images/logo-oxigenio.png) no-repeat center;
  background-size: 100%;
  text-indent: -999999999px;
  width: 27%;
  height: 210px;
  margin: 0 53px 0 0;
}

header .navbar {
  padding: 0;
  margin-top: 20px;
}

header .navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  margin-bottom: 0;
}

header .navbar ul li {
  display: inline-block;
  padding-right: 38px;
}

header .navbar ul li:last-child {
  padding-right: 0;
}

header .navbar ul li a {
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #E5E5E5;
}

.loader {
  background: #13181d;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999999999999;
}

.loader-inner {
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.loading-spinner {
  width: 10%;
  height: auto;
  animation: spinner-rotate 2s linear infinite;
  -webkit-animation: spinner-rotate 2s linear infinite;
  -moz-animation: spinner-rotate 2s linear infinite;
  -ms-animation: spinner-rotate 2s linear infinite;
  -o-animation: spinner-rotate 2s linear infinite;
}

.spinner {
  animation: spinner-color 8s linear infinite, spinner-dash 2s linear infinite;
  -webkit-animation: spinner-color 8s linear infinite, spinner-dash 2s linear infinite;
  -moz-animation: spinner-color 8s linear infinite, spinner-dash 2s linear infinite;
  -ms-animation: spinner-color 8s linear infinite, spinner-dash 2s linear infinite;
  -o-animation: spinner-color 8s linear infinite, spinner-dash 2s linear infinite;
  stroke-linecap: round;
}

@-webkit-keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: trotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: trotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -125px;
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -125px;
  }
}

section.home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
  position: relative;
}

section.home .particles-js-canvas-el {
  position: absolute;
  left: 0;
  top: 0;
}

section.home .wrap {
  width: 47%;
  position: relative;
}

section.home .wrap h2 {
  display: table;
  margin: auto auto 20px auto;
  background: url(../images/logo-vans-white.png) no-repeat center;
  text-indent: -999px;
  width: 156px;
  height: 68px;
  background-size: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  position: relative;
  bottom: -50px;
}

section.home .wrap h2.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  bottom: 0;
}

section.home .wrap .presents {
  font-weight: 300;
  font-size: 12px;
  line-height: 89.9%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 25px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  position: relative;
  bottom: -50px;
}

section.home .wrap .presents.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  bottom: 0;
}

section.home .wrap .scroll {
  font-weight: 600;
  font-size: 10px;
  line-height: 89.9%;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  right: -65px;
  bottom: 80px;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

section.home .wrap .scroll.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

section.home .wrap .scroll::before {
  content: "";
  border: 1px solid #FFFFFF;
  width: 50px;
  height: 1px;
  display: inline-block;
  margin-right: 10px;
}

section.home .wrap .scroll:hover {
  text-decoration: none;
}

section.home figure {
  position: relative;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

section.home figure.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

section.home figure img {
  position: relative;
  z-index: 2;
}

section.home figure .bands {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  z-index: 1;
}

section.home figure .bands.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

section.tickets {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFB23F), to(rgba(255, 103, 103, 0)));
  background: linear-gradient(180deg, #FFB23F 0%, rgba(255, 103, 103, 0) 100%);
  padding: 100px 0 104px 0;
  position: relative;
}

section.tickets .top {
  height: 80vh;
  width: auto;
}

section.tickets .date {
  font-weight: 300;
  font-size: 17px;
  line-height: 139.9%;
  letter-spacing: 0.44em;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 55px 200px;
}

section.tickets .date span {
  display: block;
  margin-left: 68px;
}

section.tickets h2 {
  font-weight: 600;
  font-size: 15px;
  line-height: 89.9%;
  letter-spacing: 0.55em;
  text-transform: uppercase;
  color: #008B94;
  margin: 0 0 75px 0;
  position: relative;
}

section.tickets h2::before {
  content: "";
  background: #008B94;
  border-radius: 10px;
  position: absolute;
  left: -75%;
  top: 50%;
  -webkit-transform: translateY(-53%);
          transform: translateY(-53%);
  height: 11px;
  width: 74%;
}

section.tickets h3 {
  font-weight: 200;
  font-size: 100px;
  line-height: 89.9%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #1C0E3A;
  margin: 0 0 65px 0;
}

section.tickets h3 strong {
  font-weight: 600;
}

section.tickets p {
  font-weight: 300;
  font-size: 17px;
  line-height: 159%;
  letter-spacing: -0.03em;
  color: #1C0E3A;
  margin: 0 0 85px 80px;
}

section.tickets .participe {
  text-transform: uppercase;
  color: rgba(20, 20, 20, 0.87);
  font-weight: 700;
  font-size: 15px;
  line-height: 210%;
  font-size: 15px;
  line-height: 210%;
  letter-spacing: 0.2em;
  position: relative;
  margin: 0 0 0 248px;
}

section.tickets .participe span {
  font-weight: 300;
  font-size: 13px;
  line-height: 210%;
  letter-spacing: 1.3em;
  display: block;
  margin: -7px 0 0 28px;
}

section.tickets .participe::before {
  background: rgba(0, 139, 148, 0.46);
  width: 50px;
  height: 50px;
  content: "";
  position: absolute;
  border-radius: 50%;
  left: -21px;
  top: -8px;
}

section.tickets .row {
  position: relative;
  z-index: 2;
}

section.tickets .bg-edition {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

section.tickets .bg-edition .six {
  width: 47%;
  height: auto;
  display: table;
  margin: 45px 0 auto auto;
}

section.tickets .bg-edition .astr {
  width: 139px;
  height: auto;
  position: absolute;
  top: 111px;
  right: 111px;
}

section.tickets .back-to-lineup {
  font-weight: 300;
  font-size: 20px;
  line-height: 89.9%;
  letter-spacing: 0.44em;
  text-transform: uppercase;
  color: #E5E5E5;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: #321A35;
  padding: 10px 17px 10px 31px;
  position: absolute;
  top: 87px;
  margin: 0;
  right: 27%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.tickets .back-to-lineup::after {
  content: url(../images/back-up.svg);
  display: inline-block;
  width: 20px;
  height: 23px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 20px;
}

section.tickets .back-to-lineup:hover {
  text-decoration: none;
}

section.tickets .bottom {
  padding-top: 95px;
}

section.tickets .bottom .col-right {
  background: #FFE03F;
  padding-left: 0;
}

section.tickets .bottom h3 {
  font-weight: 200;
  font-size: 78px;
  line-height: 97.2%;
  text-align: right;
  margin-bottom: 80px;
}

section.tickets .bottom h3 strong {
  display: block;
  font-size: 74px;
}

section.tickets .bottom p {
  font-weight: 200;
  font-size: 25px;
  line-height: 97.2%;
  text-align: right;
  text-transform: uppercase;
  color: #1C0E3A;
  margin-bottom: 40px;
}

section.tickets .bottom p strong {
  font-weight: 700;
}

section.tickets .bottom .inner {
  width: 60%;
  display: table;
  margin: auto auto auto 0;
}

section.tickets .bottom .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #1C0E3A;
  padding-bottom: 10px;
  height: 125px;
  padding-left: 15px;
}

section.tickets .bottom .head p {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #1C0E3A;
  margin: 0;
}

section.tickets .bottom small {
  display: table;
  margin: auto 0 auto auto;
}

section.tickets .bottom .body {
  margin-top: 85px;
  padding-left: 23px;
}

section.tickets .bottom .body .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

section.tickets .bottom .body .line:last-child {
  margin-bottom: 0;
}

section.tickets .bottom .body .line p {
  font-weight: 200;
  font-size: 15px;
  line-height: 127.2%;
  text-transform: uppercase;
  color: #1C0E3A;
  text-align: left;
  margin: 0;
}

section.tickets .bottom .body .line p strong {
  display: block;
}

section.instagram .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

section.instagram h2 {
  font-weight: 200;
  font-size: 35px;
  line-height: 43px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 40px;
}

section.instagram h2 strong {
  font-weight: 700;
}

section.instagram .image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 1px solid #1C0E3A;
  padding-bottom: 22px;
}

section.instagram .image-gallery::before {
  content: url(../images/instagram-logo.svg);
  width: 73px;
  height: 73px;
  background: #FF00C7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

section.instagram .image-gallery a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.instagram p {
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #000000;
  display: table;
  margin: -23px 30% auto auto;
  background-color: #fff;
  padding: 10px;
  position: relative;
}

section.instagram small {
  font-weight: 700;
  font-size: 7px;
  line-height: 87.6%;
  text-align: center;
  letter-spacing: 0.97em;
  text-transform: uppercase;
  color: #1C0E3A;
  display: block;
  margin-top: 105px;
  margin-bottom: 10px;
}

section.spotify .top {
  background: #F3F3F3;
  padding: 80px 0 0 0;
}

section.spotify h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #1C0E3A;
  margin-bottom: 50px;
}

section.spotify h2 {
  font-weight: 100;
  font-size: 100px;
  line-height: 87.6%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #1C0E3A;
  margin-bottom: 50px;
}

section.spotify .playlist {
  position: relative;
}

section.spotify .playlist .top {
  height: 80px;
  background: #211a27;
}

section.spotify .playlist .body {
  background: #09070a;
  height: 300px;
  position: relative;
}

section.spotify .playlist .wrap-framwe {
  position: absolute;
  top: 0;
  display: table;
  left: 0;
  right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 0%;
}

section.spotify .playlist .wrap-framwe iframe {
  width: 30%;
}

section.experience .top {
  padding: 60px 0;
  position: relative;
}

section.experience .top h2 {
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1.57em;
  color: #1C0E3A;
  margin-bottom: 0;
  position: relative;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

section.experience .top h2::after {
  content: "......";
  position: absolute;
  top: -8px;
  font-weight: 200;
  font-size: 70px;
  line-height: 0;
  text-align: center;
  letter-spacing: 0.5em;
  color: rgba(28, 14, 58, 0.4);
}

section.experience .top h2::before {
  content: "......";
  position: absolute;
  top: -8px;
  left: -287px;
  font-weight: 200;
  font-size: 70px;
  line-height: 0;
  text-align: center;
  letter-spacing: 0.5em;
  color: rgba(28, 14, 58, 0.4);
}

section.experience .top .ox {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

section.experience .top::after {
  content: url(../images/wave.png);
  width: 100%;
  height: 19px;
  position: absolute;
  bottom: -25px;
  text-align: center;
  left: 0;
  right: 0;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

section.experience .bottom {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 195px 0 145px;
  position: relative;
}

section.experience .bottom h2 {
  font-weight: 100;
  font-size: 74px;
  line-height: 108.4%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #E5E5E5;
  text-align: right;
  margin-bottom: 25px;
}

section.experience .bottom h2 strong {
  font-weight: 500;
  display: block;
}

section.experience .bottom .wrap {
  width: 32%;
  display: table;
  margin: auto 0 auto auto;
}

section.experience .bottom p {
  font-weight: 200;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.03em;
  color: #E5E5E5;
  text-align: left;
}

section.experience .bottom p strong {
  font-weight: 700;
}

section.experience .bottom small {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
  text-align: center;
  display: block;
  margin: -8px 72px 0 0;
}

section.experience .bottom::after {
  content: url(../images/wave-blue.png);
  width: 100%;
  height: 19px;
  position: absolute;
  bottom: -25px;
  text-align: center;
  left: 0;
  right: 0;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

section.experience .freddy {
  position: absolute;
  width: 246px;
  height: auto;
  right: 305px;
  bottom: 61px;
}

section.experience .images {
  text-align: right;
  position: absolute;
  top: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  left: -70px;
}

section.experience .images .big-astr {
  width: 377px;
  display: inline-block;
  position: relative;
  z-index: 2;
}

section.experience .images .karaoke {
  width: 400px;
  display: inline-block;
  margin-left: -151px;
  margin-top: 58px;
  position: relative;
  z-index: 1;
}

section.experience .ox-left {
  width: 249px;
  position: absolute;
  top: 219px;
  left: 244px;
}

section.experience .ox-right {
  width: 130px;
  position: absolute;
  bottom: 399px;
  right: 588px;
}

section.experience .wpcf7-submit {
  position: absolute;
  bottom: -55px;
  width: 95%;
  background: #FF5656;
  color: #fff;
}

section.experience div.wpcf7-response-output {
  position: absolute;
  bottom: -94px;
  width: 48%;
  font-weight: 200;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.03em;
  color: #E5E5E5;
  text-align: left;
  border: none;
  border-left: 8px solid #ff4d4d;
}

section.experience div.wpcf7-validation-errors, section.experience div.wpcf7-acceptance-missing {
  border-left: 8px solid #fff200;
}

section.experience div.wpcf7-mail-sent-ok {
  border-left: 8px solid #3ae374;
}

section.experience span.wpcf7-not-valid-tip {
  margin: -22px 0 15px 0;
  font-weight: 200;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.03em;
  color: #ff4d4d;
  text-align: left;
}

section.experience .dia .wpcf7-not-valid-tip {
  display: block;
  bottom: -55px;
  left: 5px;
  position: absolute;
}

.wpcf7 {
  position: relative;
  margin: 259px 0 0 0 !important;
}

.wpcf7 .wpcf7-form-control {
  font-family: 'Montserrat', sans-serif;
  background: #E3E3E3;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 25px;
  padding: 0 25px;
  border: none;
}

.wpcf7 select.wpcf7-form-control {
  margin-bottom: 0;
}

.wpcf7 .row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wpcf7 .wpcf7-checkbox {
  background: transparent;
  border-radius: unset;
  width: unset;
  height: unset;
  font-weight: unset;
  font-size: unset;
  line-height: unset;
  color: unset;
  margin-bottom: unset;
  padding: unset;
  border: unset;
}

.wpcf7 span.wpcf7-list-item {
  display: inline-block;
  margin: 0 25px 0 0;
  width: 138px;
  height: 30px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #004044;
  line-height: 26px;
  cursor: pointer;
}

.wpcf7 span.wpcf7-list-item input {
  display: none;
}

.wpcf7 span.wpcf7-list-item:first-child {
  background: #008B94;
  border: 2px solid #008B94;
}

.wpcf7 span.wpcf7-list-item:nth-child(2) {
  background: #FFB23F;
  border: 2px solid #FFB23F;
}

.wpcf7 span.wpcf7-list-item:last-child {
  background: #FF5656;
  margin: 0 0 0 0;
  border: 2px solid #FF5656;
}

.wpcf7 span.wpcf7-list-item.selected {
  border: 2px solid #E3E3E3;
}

.wpcf7 .select-date {
  font-weight: 200 !important;
  font-size: 22px !important;
  line-height: 27px !important;
  color: #C4C4C4 !important;
  display: table !important;
  letter-spacing: unset !important;
  margin: auto 77px 30px auto !important;
}

.wpcf7 .select-date strong {
  font-weight: 500;
  display: block;
}

section.your-band {
  padding: 115px 0 380px;
  background-attachment: fixed;
}

section.your-band.small-pad {
  padding: 115px 0 180px;
}

section.your-band h2 {
  font-family: 'Sunset Boulevard Regular';
  font-size: 140px;
  line-height: 189px;
  text-align: center;
  color: #FF5656;
  margin-bottom: 100px;
}

section.your-band h3 {
  font-weight: 200;
  font-size: 44px;
  line-height: 54px;
  text-transform: uppercase;
  color: #1C0E3A;
  display: table;
  margin: auto 35px auto auto;
}

section.your-band h3 span {
  letter-spacing: 0.04em;
  display: block;
}

section.your-band p {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #1C0E3A;
  text-align: center;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

section.your-band p strong {
  font-weight: 600;
}

section.your-band p strong.space {
  letter-spacing: 0.52em;
}

section.your-band .col-custom {
  margin-top: -60px;
}

section.your-band .block-cadastro {
  width: 266px;
  height: 266px;
  background: #FFE03F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 323px;
  top: -40px;
}

section.your-band .block-cadastro .arrow-down {
  margin-top: 20px;
}

section.your-band .block-cadastro .show-form {
  font-weight: normal;
  font-size: 11px;
  line-height: 63px;
  text-align: center;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FF5656;
  height: 63px;
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 2;
}

section.your-band .block-cadastro .show-form:hover {
  text-decoration: none;
  background: #b33a3a;
}

section.your-band .wpcf7 {
  width: 55%;
  display: table;
  margin: 200px auto 0 auto !important;
  background: rgba(24, 14, 58, 0.8);
  padding: 25px;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  display: none;
}

section.your-band .wpcf7 .wpcf7-submit {
  background: #FF5656;
  color: #fff;
}

section.your-band .wpcf7 div.wpcf7-response-output {
  position: absolute;
  bottom: 97px;
  width: 100%;
  font-weight: 200;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.03em;
  color: #E5E5E5;
  text-align: left;
  border: none;
  border-left: 8px solid #ff4d4d;
}

section.your-band .wpcf7 div.wpcf7-validation-errors, section.your-band .wpcf7 div.wpcf7-acceptance-missing {
  border-left: 8px solid #fff200;
}

section.your-band .wpcf7 div.wpcf7-mail-sent-ok {
  border-left: 8px solid #3ae374;
}

section.your-band .wpcf7 span.wpcf7-not-valid-tip {
  margin: -22px 0 15px 0;
  font-weight: 200;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.03em;
  color: #ff4d4d;
  text-align: left;
}

section.partners {
  padding: 15px 0 0 0;
}

section.partners .slide-logos img {
  width: 95%;
  margin: auto;
  display: table;
}

section.partners .col-custom {
  position: relative;
}

section.partners .col-custom::before {
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, from(#EAEAEA), to(#EAEAEA)), #C4C4C4;
  background: linear-gradient(0deg, #EAEAEA, #EAEAEA), #C4C4C4;
  width: 100%;
  display: inline-block;
  height: 117px;
  position: absolute;
  left: -883px;
  top: 1px;
}

section.partners .col-custom::after {
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, from(#EAEAEA), to(#EAEAEA)), #C4C4C4;
  background: linear-gradient(0deg, #EAEAEA, #EAEAEA), #C4C4C4;
  width: 100%;
  display: inline-block;
  height: 118px;
  position: absolute;
  right: -883px;
  top: 1px;
}

section.partners small {
  font-weight: 700;
  font-size: 7px;
  line-height: 87.6%;
  text-align: center;
  letter-spacing: 0.97em;
  text-transform: uppercase;
  color: #1C0E3A;
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

section.place {
  padding: 90px 0 145px;
}

section.place h2 {
  font-weight: 500;
  font-size: 50px;
  line-height: 159%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #252525;
  margin-bottom: -10px;
}

section.place h2::before {
  content: url(../images/location.svg);
  display: block;
  margin-bottom: -12px;
}

section.place h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 159%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #252525;
  margin-bottom: 0;
}

section.place p {
  font-weight: 100;
  font-size: 15px;
  line-height: 159%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #252525;
}

section.place a {
  font-weight: 400;
  font-size: 15px;
  line-height: 159%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #252525;
  display: inline-block;
}

section.place .realizacao {
  margin-top: 50px;
}

section.place .realizacao p {
  font-weight: 700;
  font-size: 7px;
  line-height: 87.6%;
  text-align: center;
  letter-spacing: 0.97em;
  text-transform: uppercase;
  color: #1C0E3A;
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

section.place .realizacao .wrap {
  text-align: center;
}

section.place .realizacao .wrap a {
  cursor: unset;
}

footer {
  background: #C4C4C4;
  padding: 15px 0;
}

footer p {
  font-weight: 200;
  font-size: 12px;
  line-height: 159%;
  text-align: center;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
}

footer p strong {
  font-weight: 500;
}

footer .col-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  header {
    padding-top: 30px;
  }
  header h1 {
    background-size: 79%;
    margin: 0 53px 0 0;
  }
  section.home {
    padding-top: 103px;
  }
  section.tickets .container-rel {
    padding-left: 169px;
  }
  section.tickets h3 {
    font-weight: 200;
    font-size: 84px;
  }
  section.tickets .participe {
    margin: 0 0 0 197px;
  }
  section.tickets .bottom {
    margin-top: 80px;
  }
  section.tickets .bg-edition .six {
    width: 42%;
    height: auto;
    display: table;
    margin: 45px 0 auto auto;
  }
  section.tickets .bg-edition .astr {
    width: 113px;
    height: auto;
    position: absolute;
    top: 111px;
    right: 111px;
  }
  section.tickets .back-to-lineup {
    font-size: 14px;
    top: 66px;
    right: 18%;
  }
  section.tickets .bottom h3 {
    font-weight: 200;
    font-size: 54px;
    margin-bottom: 56px;
  }
  section.tickets .bottom h3 strong {
    display: block;
    font-size: 51px;
  }
  section.tickets .bottom .head {
    height: 84px;
  }
  section.tickets .bottom .head p {
    font-size: 13px;
  }
  section.tickets .bottom .inner {
    width: 70%;
  }
  section.tickets .bottom .body .line p {
    font-size: 12px;
  }
  section.tickets .bottom .body {
    margin-top: 56px;
  }
  section.spotify h2 {
    font-size: 75px;
  }
  footer p {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  section.home {
    padding-top: 0;
  }
  header h1 {
    display: none;
  }
  .logo-header {
    display: block;
  }
  .logo-header h1 {
    background: url(../images/logo-oxigenio.png) no-repeat center;
    background-size: 100%;
    text-indent: -999px;
    width: 27%;
    height: 210px;
    margin: 0 53px 0 0;
    position: absolute;
    z-index: 99999;
    left: 50px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-out 0s !important;
    transition: all 0.4s ease-out 0s !important;
  }
  .logo-header h1.active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.4s ease-out 0s !important;
    transition: all 0.4s ease-out 0s !important;
  }
  header {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 0 !important;
    overflow-y: hidden !important;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
    visibility: hidden !important;
    opacity: 0 !important;
    z-index: 99999997;
    top: 0;
  }
  header.menu-open {
    visibility: visible !important;
    opacity: 1 !important;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
  }
  header.fixed {
    padding-top: 0 !important;
  }
  header .container {
    position: fixed;
    right: -300px;
    width: 180px;
    height: 100%;
    padding-top: 50px;
    padding-left: 25px;
    background: rgba(24, 14, 58, 0.8);
    -webkit-transition: all 0.5s ease-in-out 0s !important;
    transition: all 0.5s ease-in-out 0s !important;
  }
  header .container.active {
    right: 0;
    -webkit-transition: all 0.5s ease-in-out 0s !important;
    transition: all 0.5s ease-in-out 0s !important;
  }
  header .navbar ul {
    display: block;
  }
  header .navbar ul li {
    display: block;
    font-size: 16px;
    line-height: 60px;
  }
  header .navbar ul li:nth-child(5) {
    line-height: 20px;
  }
  section.home .wrap {
    width: 87%;
  }
  section.tickets .container-rel {
    padding-left: 15px;
  }
  section.tickets .date {
    margin: 0 0 55px 100px;
  }
  section.tickets h3 {
    font-size: 52px;
    width: 67%;
  }
  section.tickets p {
    margin: 0 0 85px 33px;
  }
  section.tickets .bg-edition .six {
    width: 62%;
  }
  section.tickets .participe {
    margin: 0 0 0 40px;
  }
  section.tickets .top {
    height: auto;
  }
  section.tickets .bottom {
    margin-top: 125px;
  }
  section.tickets .bottom p {
    text-align: left;
  }
  section.tickets .bottom h3 {
    margin-left: 32px;
    text-align: left;
  }
  section.tickets .bottom .inner {
    width: 100%;
    padding: 0 35px;
  }
  section.tickets .bottom .col-right {
    padding: 10px 0 40px 0;
  }
  section.tickets .bottom .body {
    padding-left: 0;
  }
  section.spotify h2 {
    font-size: 54px;
  }
  section.spotify .playlist .wrap-framwe iframe {
    width: 60%;
  }
  section.experience .bottom {
    padding: 68px 0 145px;
  }
  section.experience .images {
    top: 121px;
  }
  section.experience .freddy {
    display: none;
  }
  .wpcf7 {
    margin: 383px 0 0 0 !important;
  }
  section.experience .ox-left,
  section.experience .ox-right {
    display: none;
  }
  .wpcf7 .select-date {
    margin: 20px auto 30px auto !important;
  }
  .wpcf7 .select-date br {
    display: none;
  }
  .wpcf7 .select-date strong {
    display: inline;
    margin-left: 12px;
  }
  section.experience .wpcf7-submit {
    bottom: -82px;
  }
  .dia {
    display: table;
    margin: auto;
  }
  section.your-band h2 {
    font-size: 95px;
    line-height: 85px;
    margin-bottom: 54px;
  }
  section.your-band h3 {
    margin: auto auto 30px auto;
    font-size: 34px;
  }
  section.your-band h3 span {
    display: inline;
    margin-left: 14px;
  }
  section.your-band .col-custom {
    margin-top: 60px;
  }
  section.your-band .block-cadastro {
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  section.your-band .wpcf7 {
    width: 78%;
  }
  .btn-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .loading-spinner {
    width: 36%;
  }
}

@media screen and (max-width: 500px) {
  .logo-header h1 {
    left: 28px;
    top: 10px;
    width: 37%;
    height: 108px;
  }
  .btn-menu {
    top: 20px;
  }
  section.home {
    padding-top: 0;
  }
  section.home .wrap {
    width: 100%;
  }
  section.tickets {
    padding: 50px 0 104px 0;
  }
  section.tickets .date {
    margin: 0 0 55px 67px;
    font-size: 12px;
  }
  section.tickets h2 {
    font-size: 10px;
    margin: 0 0 75px 45px;
  }
  section.tickets .bg-edition {
    position: relative;
  }
  section.tickets h3 {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  section.tickets p {
    margin: 0 0 54px 0;
  }
  section.tickets p br {
    display: none;
  }
  section.tickets .participe {
    font-size: 11px;
  }
  section.tickets .participe span {
    font-size: 15px;
  }
  section.tickets .bg-edition .six {
    width: 100%;
  }
  section.tickets .bg-edition .astr {
    width: 85px;
    top: 50px;
    right: 76px;
  }
  section.tickets .back-to-lineup {
    display: none;
  }
  section.tickets .bottom h3 {
    font-size: 34px;
  }
  section.tickets .bottom h3 strong {
    font-size: 33px;
  }
  section.tickets .bottom p {
    font-size: 21px;
  }
  section.tickets .bottom .inner {
    padding: 0 15px;
  }
  section.tickets .bottom .head p {
    font-size: 11px;
  }
  section.tickets .bottom .body .line {
    display: block;
  }
  section.tickets .btn-custom {
    margin-top: 20px;
    width: 100%;
  }
  section.instagram h2 {
    font-size: 28px;
  }
  section.instagram p {
    font-size: 12px;
  }
  section.instagram small {
    margin-top: 50px;
  }
  section.spotify h3 {
    font-size: 13px;
    margin-bottom: 10px;
  }
  section.spotify h2 {
    font-size: 28px;
  }
  section.spotify .playlist .wrap-framwe iframe {
    width: 100%;
  }
  section.experience .top h2 {
    font-size: 12px;
  }
  section.experience .bottom h2 {
    font-size: 38px;
    text-align: center;
  }
  section.experience .bottom .wrap {
    width: 100%;
  }
  section.experience .images {
    display: none;
  }
  .wpcf7 {
    margin: 20px 0 0 0 !important;
  }
  .wpcf7 span.wpcf7-list-item {
    width: 92px;
  }
  .wpcf7 .select-date {
    font-size: 17px !important;
  }
  section.your-band h2 {
    font-size: 78px;
    margin-bottom: 2px;
  }
  section.your-band {
    padding: 66px 0 380px;
    background-attachment: unset;
  }
  section.your-band h3 {
    font-size: 21px;
  }
  section.your-band .block-cadastro {
    width: 92%;
  }
  section.your-band p {
    font-size: 12px;
  }
  section.your-band .wpcf7 {
    width: 100%;
  }
  section.place h2 {
    font-size: 39px;
  }
  section.place p {
    font-size: 11px;
  }
  footer .col-flex {
    display: block;
  }
  footer p {
    font-size: 8px;
  }
  section.experience .wpcf7-submit {
    bottom: -95px;
    z-index: 9999;
  }
  section.experience div.wpcf7-response-output {
    bottom: -138px;
    width: 100%;
  }
  section.experience .dia .wpcf7-not-valid-tip {
    bottom: -56px;
    margin-bottom: 0;
  }
  .loading-spinner {
    width: 60%;
  }
  section.instagram .image-gallery a {
    display: block;
  }
}

.experience .wpcf7 {
  visibility: hidden !important;
}

section.experience .bottom small {
  visibility: hidden;
}

.soon {
  font-weight: 100;
  font-size: 74px;
  line-height: 108.4%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #E5E5E5;
  text-align: right;
  margin-bottom: 25px;
  position: absolute;
  bottom: 40px;
  left: 102px;
}

@media screen and (max-width: 500px) {
  .soon {
    font-weight: 100;
    font-size: 74px;
    line-height: 108.4%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #E5E5E5;
    text-align: center;
    margin-bottom: 25px;
    position: absolute;
    bottom: 40px;
    left: 0;
  }
}

.bloco-encerrado {
  position: relative;
}

.bloco-encerrado h3 {
  font-weight: 700 !important;
  font-size: 35px !important;
  line-height: 43px !important;
  text-align: center !important;
  text-transform: uppercase !important;
  color: #252525 !important;
  margin-bottom: 25px !important;
  display: block !important;
}

.bloco-encerrado p {
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  text-align: center !important;
  text-transform: uppercase !important;
  color: #252525 !important;
  margin: auto auto 35px auto !important;
  letter-spacing: 0 !important;
  display: table !important;
}

.bloco-encerrado h4 {
  font-weight: 700 !important;
  font-size: 50px !important;
  line-height: 61px !important;
  text-align: center !important;
  text-transform: uppercase !important;
  color: #252525 !important;
  margin-bottom: -95px !important;
}

.bloco-encerrado .ox-ex {
  position: absolute;
  left: -24%;
  top: 0;
}

.bloco-encerrado .ox-ex h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 325.2%;
  letter-spacing: 1.94em;
  color: #008B94;
  margin-bottom: 0;
}

.bloco-encerrado .palco-vans {
  position: absolute;
  right: -15%;
  top: 0;
}

.bloco-encerrado .palco-vans h2 {
  font-family: 'Sunset Boulevard Regular';
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #C4C4C4;
  margin-bottom: 0;
}

.bloco-encerrado .palco-vans p {
  font-weight: 100 !important;
  font-size: 11px !important;
  line-height: 13px !important;
  text-align: center !important;
  letter-spacing: 0.4em !important;
  color: #D24949 !important;
  margin-bottom: 0 !important;
  text-transform: none !important;
  padding-left: 304px;
}

@media screen and (max-width: 1440px) {
  .bloco-encerrado .ox-ex h2 {
    font-size: 9px;
  }
  .bloco-encerrado .ox-ex {
    left: -10%;
  }
  .bloco-encerrado .palco-vans {
    right: -10%;
  }
}

@media screen and (max-width: 1280px) {
  .bloco-encerrado .palco-vans {
    right: -5%;
  }
  .bloco-encerrado .palco-vans p {
    padding-left: 204px;
  }
}

@media screen and (max-width: 1024px) {
  .palco-vans,
  .ox-ex {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .bloco-encerrado {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=style.css.map */