/*******************************
    Accessibility START
*******************************/
.wah-screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.admin-bar .accessability_container {
  top: 32px;
}

body.is_underline a {
  text-decoration: underline !important;
}

body.highlight_links_on a {
  background-color: yellow !important;
  color: #000 !important;
}

body.highlight_links_on a span {
  color: #000 !important;
}

body.invert_mode_on {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

body.remove_animations * {
  transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
}

body.arial_font_on * {
  font-family: Arial, Helvetica, sans-serif !important;
}

body.wah_keyboard_access a:focus,
body.wah_keyboard_access button:focus,
body.wah_keyboard_access input:focus,
body.wah_keyboard_access select:focus,
body.wah_keyboard_access textarea:focus {
  background-color: #f3f57c !important;
  color: #000 !important;
}

body.admin-bar .wah_plugin_credits {
  bottom: 32px;
}

body .wah_scanner_element {
  outline: 5px solid yellow !important;
}

body .wah_scanner_link {
  background-color: yellow !important;
  outline: 5px solid yellow !important;
  color: #000 !important;
}

body .wah_plugin_credits {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  background: #216073 !important;
  color: #FFF !important;
}

body .wah_plugin_credits a {
  font-family: Arial;
  font-size: 12px;
  display: block;
  background: #216073 !important;
  color: #FFF !important;
}

body .accessability_container {
  width: 200px;
  background: #FFF !important;
  color: #000 !important;
  position: fixed;
  top: 0px;
  height: 100%;
  z-index: 9999999;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

body .accessability_container .font_resizer button.wah-action-button.smaller {
  width: 46%;
  float: left;
}

body .accessability_container .font_resizer button.wah-action-button.larger {
  float: right;
  width: 46%;
}

body .accessability_container .font_resizer button.wah-action-button.wah-font-reset {
  margin-top: 12px;
  width: 100%;
  clear: both;
}

body .accessability_container button.wah-action-button {
  background: #232323 !important;
  color: #FFF !important;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid #FFF;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

body .accessability_container button.wah-action-button:hover, body .accessability_container button.wah-action-button:focus, body .accessability_container button.wah-action-button.active_button {
  background: #FFF !important;
  color: #000 !important;
}

body .accessability_container .a_module {
  padding-bottom: 0.6rem;
  margin-bottom: 0.6rem;
  border-bottom: 1px solid #000;
}

body .accessability_container .a_module:before, body .accessability_container .a_module:after {
  content: '';
  display: block;
  clear: both;
}

body .accessability_container.dark_theme .a_module {
  border-bottom: 1px solid #444343;
}

body .accessability_container.dark_theme a.active_button {
  border: 1px solid #216073 !important;
}

body .accessability_container.dark_theme.accessability_container.active,
body .accessability_container.dark_theme #access_container,
body .accessability_container.dark_theme .access_container_inner,
body .accessability_container.dark_theme .a_module,
body .accessability_container.dark_theme .a_module_title,
body .accessability_container.dark_theme .a_module_exe,
body .accessability_container.dark_theme .font_resizer a,
body .accessability_container.dark_theme .contrast_trigger {
  background: #232323 !important;
  color: #FFF !important;
}

body .accessability_container.dark_theme .font_resizer a,
body .accessability_container.dark_theme .contrast_trigger {
  border: 1px solid #FFF;
  color: #FFF;
}

body .accessability_container * {
  background: #FFF !important;
  color: #000 !important;
}

/*****************************
    RIGHT Sidebar
******************************/
.accessibility-location-right .accessability_container {
  left: auto !important;
  right: -200px;
}

/*****************************
    LEFT Sidebar
******************************/
.accessibility-location-left .accessability_container {
  left: -200px !important;
  right: auto;
}

.accessibility-location-left .accessability_container.active {
  right: auto;
  left: 0 !important;
}

.accessibility-location-left .aicon_link {
  left: 200px;
  right: auto !important;
}

.accessability_container.active {
  right: 0;
}

.accessability_container a {
  color: #000;
}

a.aicon_link {
  display: none;
}

a.aicon_link img {
  max-width: 48px;
}

.access_container_inner {
  padding: 0 10px;
  margin-top: 14px;
}

button.aicon_link {
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: 0 !important;
  cursor: pointer;
}

.aicon_link {
  left: -48px;
  right: auto !important;
  position: absolute;
  max-width: 48px;
  max-height: 48px;
  display: inline-block;
  background: transparent !important;
}

.accessibility-location-left .aicon_link {
  left: auto;
  right: -48px !important;
}

button.close_container {
  background: #216073 !important;
  color: #FFF !important;
  cursor: pointer;
  display: block;
  padding: 0;
  border: 0;
  width: 92%;
  margin: 0 auto;
  height: 34px;
  line-height: 34px;
  font-weight: bold;
  font-size: 15px;
}

button.close_container:hover, button.close_container:focus {
  background: #FFF !important;
  color: #000 !important;
}

#access_container {
  margin-top: 0;
  padding-top: 10px;
}

#access_container a:focus {
  color: #FFF;
  background: #000;
}

.a_module_exe a {
  text-decoration: none;
  font-size: 15px;
}

.a_module_title {
  margin-bottom: 0.4rem;
  font-weight: 600;
}

.contrast_trigger {
  width: 100%;
}

/*******************/
.color_selector {
  display: none;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.color_selector.is_visible {
  display: block;
}

.color_selector button {
  display: inline-block;
  cursor: pointer;
  font-size: 0;
  width: 30px;
  height: 30px;
  float: left;
  border-radius: 20px;
  border: 2px solid #000;
  margin: 5px;
  padding: 0;
}

.color_selector .black {
  background: #000 !important;
}

.color_selector .white {
  background: #FFF !important;
}

.color_selector .green {
  background: #00FF21 !important;
}

.color_selector .blue {
  background: #0FF !important;
}

.color_selector .red {
  background: #F00 !important;
}

.color_selector .orange {
  background: #FF6A00 !important;
}

.color_selector .yellow {
  background: #FFD800 !important;
}

.color_selector .navi {
  background: #B200FF !important;
}

.active_greyscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(1);
}

.wah-dark-overlay {
  position: fixed;
  z-index: 50;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.wah-lights-selector {
  position: relative;
  z-index: 100;
  background: #FFF;
  color: #000;
}

.wah-skip {
  position: relative;
  top: -10000px;
  left: -10000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}

.wah-skip:focus {
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding: 5px 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid #FFF;
  font-size: 15px;
  font-weight: bold;
}

/**************************
    Skip links
**************************/
.wah-skiplinks-menu {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.wah-skiplinks-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wah-skiplinks-menu ul a {
  text-decoration: none;
  position: absolute;
  z-index: 99999;
  left: -10000px;
  top: -10000px;
}

.wah-skiplinks-menu ul a:focus, .wah-skiplinks-menu ul a:active, .wah-skiplinks-menu ul a:hover {
  left: 16px;
  top: 42px;
  background: #216073;
  color: #FFF;
  padding: 6px 20px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}

/********************
Accessibility END
********************/
@media only screen and (max-width: 480px) {
  body .accessability_container {
    height: auto;
    padding: 0 0 1rem 0;
  }
  a.close_container,
  .a_module_title {
    font-size: 14px;
  }
  .a_module {
    padding-bottom: 0.4rem;
    margin-bottom: 0.4rem;
  }
  .font_resizer a,
  .contrast_trigger {
    font-size: 14px;
    padding: .2rem;
  }
  .a_module_title {
    display: none;
  }
}
/*# sourceMappingURL=wp-accessibility-helper.css.map */